.footer {
  background-color: rgb(31, 31, 34);
  color: #6f6f6f;
  padding: 3rem 0 2rem 0;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.1),
    4px 4px 12px rgba(0, 0, 0, 0.8);
}

.footer__social-link {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: rgb(31, 31, 34);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
  color: #6f6f6f;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
    2px 2px 6px rgba(0, 0, 0, 0.8);

  &:hover {
    color: #6ee6fc;
    transition: all 0.5s ease;
    box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
      2px 2px 6px rgba(0, 0, 0, 0.8),
      inset -2px -2px 10px rgba(255, 255, 255, 0.05),
      inset 2px 2px 10px rgba(0, 0, 0, 0.5);
  }

  &:active {
    transition: all 0.3s ease;
    box-shadow: inset -1px -1px 3px rgba(255, 255, 255, 0.1),
      inset 2px 2px 6px rgba(0, 0, 0, 1);
  }
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (max-width: 820px) {
    flex-direction: column;
    gap: 20px;
  }
}

.footer__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.footer__author {
  color: #6f6f6f;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}
