$primary: #ffffff;
$dark: #242424;
$blue: #276afb;
$red: #f00946;
$green: #25ce4a;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: "PT Sans", "Arial", sans-serif;
    background-color: rgb(31, 31, 34);
}